@font-face {
    font-family: jinkaiFont;
    src: url("https://cdn.jsdelivr.net/gh/fzdwx/fzdwx.github.io/static/font/jinkai.woff2") format("woff2");
}

@font-face {
    font-family: f1Font;
    src: url("https://cdn.jsdelivr.net/gh/fzdwx/fzdwx.github.io/static/font/f1.woff2") format("woff2");
}

@font-face {
    font-family: fzdwxFont;
    src: url("https://cdn.jsdelivr.net/gh/fzdwx/fzdwx.github.io/static/font/fzdwx.woff2") format("woff2");
}

:root {
    --a1: #a277ff;
    --a2: #a394f0;
    --b1: #15141b;
    --b2: #edecee;
    --blank: #110f18;
    --blue: #61ffca;
    --red: #ff6767;
    --yellow: #ffca85;
    --bBlack: #4d4d4d;
    --bCyna: #73BC83;
    --selection: #3d375e7f;
    /*--main-width:880px;*/
    /*--post-width:880px;*/
    
    --link-color: var(--primary);
    --link-hover-color: var(--bCyna);
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--a1);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --vp-nav-height-desktop: 72px;

    --docsearch-primary-color: #5468ff;
    --docsearch-text-color: #1c1e21;
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: #969faf;
    --docsearch-container-background: rgba(101, 108, 133, .8);
    --docsearch-logo-color: #5468ff;
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: #f5f6f7;
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, .5), 0 3px 8px 0 #555a64;
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: #ebedf0;
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: #444950;
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
    --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, .12);
    --vp-z-index-local-nav: 10;
    --vp-z-index-nav: 20;
    --vp-z-index-backdrop: 30;
    --vp-z-index-sidebar: 40;
    --vp-z-index-footer: 50;
    --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
    --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
    --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
    --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
    --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
    --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
    --vp-c-text-inverse-4: var(--vp-c-text-dark-4);
    --vp-c-text-code: var(--vp-c-indigo-soft);
    --vp-c-brand: var(--vp-c-green);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);
    --vp-c-brand-dark: var(--vp-c-green-dark);
    --vp-c-brand-darker: var(--vp-c-green-darker);
    --vp-c-sponsor: #fd1d7c;
    --vp-c-white: #ffffff;
    --vp-c-white-soft: #f9f9f9;
    --vp-c-white-mute: #f1f1f1;
    --vp-c-black: #1a1a1a;
    --vp-c-black-pure: #000000;
    --vp-c-black-soft: #242424;
    --vp-c-black-mute: #2f2f2f;
    --vp-c-gray: #8e8e8e;
    --vp-c-gray-light-1: #aeaeae;
    --vp-c-gray-light-2: #c7c7c7;
    --vp-c-gray-light-3: #d1d1d1;
    --vp-c-gray-light-4: #e5e5e5;
    --vp-c-gray-light-5: #f2f2f2;
    --vp-c-gray-dark-1: #636363;
    --vp-c-gray-dark-2: #484848;
    --vp-c-gray-dark-3: #3a3a3a;
    --vp-c-gray-dark-4: #282828;
    --vp-c-gray-dark-5: #202020;
    --vp-c-divider-light-1: rgba(60, 60, 60, .29);
    --vp-c-divider-light-2: rgba(60, 60, 60, .12);
    --vp-c-divider-dark-1: rgba(84, 84, 84, .65);
    --vp-c-divider-dark-2: rgba(84, 84, 84, .48);
    --vp-c-text-light-1: var(--vp-c-indigo);
    --vp-c-text-light-2: rgba(60, 60, 60, .7);
    --vp-c-text-light-3: rgba(60, 60, 60, .33);
    --vp-c-text-light-4: rgba(60, 60, 60, .18);
    --vp-c-text-dark-1: rgba(255, 255, 255, .87);
    --vp-c-text-dark-2: rgba(235, 235, 235, .6);
    --vp-c-text-dark-3: rgba(235, 235, 235, .38);
    --vp-c-text-dark-4: rgba(235, 235, 235, .18);
    --vp-c-indigo: #213547;
    --vp-c-indigo-soft: #476582;
    --vp-c-indigo-light: #aac8e4;
    --vp-c-indigo-lighter: #c9def1;
    --vp-c-indigo-dark: #1d2f3f;
    --vp-c-indigo-darker: #14212e;
    --vp-c-green: #42b883;
    --vp-c-green-light: #42d392;
    --vp-c-green-lighter: #35eb9a;
    --vp-c-green-dark: #33a06f;
    --vp-c-green-darker: #155f3e;
    --vp-c-green-dimm-1: rgba(66, 184, 131, .5);
    --vp-c-green-dimm-2: rgba(66, 184, 131, .25);
    --vp-c-green-dimm-3: rgba(66, 184, 131, .05);
    --vp-c-yellow: #ffc517;
    --vp-c-yellow-light: #fcd253;
    --vp-c-yellow-lighter: #fcfc7c;
    --vp-c-yellow-dark: #e0ad15;
    --vp-c-yellow-darker: #ad850e;
    --vp-c-yellow-dimm-1: rgba(255, 197, 23, .5);
    --vp-c-yellow-dimm-2: rgba(255, 197, 23, .25);
    --vp-c-yellow-dimm-3: rgba(255, 197, 23, .05);
    --vp-c-red: #ed3c50;
    --vp-c-red-light: #f54e82;
    --vp-c-red-lighter: #fd1d7c;
    --vp-c-red-dark: #cd2d3f;
    --vp-c-red-darker: #ab2131;
    --vp-c-red-dimm-1: rgba(237, 60, 80, .5);
    --vp-c-red-dimm-2: rgba(237, 60, 80, .25);
    --vp-c-red-dimm-3: rgba(237, 60, 80, .05);
}

.light {
    --vp-c-bg: var(--vp-c-white);
    --vp-c-bg-soft: var(--vp-c-white-soft);
    --vp-c-bg-mute: var(--vp-c-white-mute);
    --vp-c-bg-alt: var(--vp-c-white-soft);
    --vp-c-divider: var(--vp-c-divider-light-1);
    --vp-c-divider-light: var(--vp-c-divider-light-2);
    --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);
    --vp-c-text-1: var(--vp-c-text-light-1);
    --vp-c-text-2: var(--vp-c-text-light-2);
    --vp-c-text-3: var(--vp-c-text-light-3);
    --vp-c-text-4: var(--vp-c-text-light-4);
    --vp-custom-block-code-font-size: 13px;
    --vp-custom-block-info-border: var(--vp-c-divider-light);
    --vp-custom-block-info-text: var(--vp-c-text-2);
    --vp-custom-block-info-bg: var(--vp-c-white-soft);
    --vp-custom-block-info-code-bg: var(--vp-c-gray-light-4);
    --vp-custom-block-tip-border: var(--vp-c-green-dimm-1);
    --vp-custom-block-tip-text: var(--vp-c-green-darker);
    --vp-custom-block-tip-bg: var(--vp-c-green-dimm-3);
    --vp-custom-block-tip-code-bg: var(--vp-custom-block-tip-bg);
    --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-1);
    --vp-custom-block-warning-text: var(--vp-c-yellow-darker);
    --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-3);
    --vp-custom-block-warning-code-bg: var(--vp-custom-block-warning-bg);
    --vp-custom-block-danger-border: var(--vp-c-red-dimm-1);
    --vp-custom-block-danger-text: var(--vp-c-red-darker);
    --vp-custom-block-danger-bg: var(--vp-c-red-dimm-3);
    --vp-custom-block-danger-code-bg: var(--vp-custom-block-danger-bg);
    --vp-custom-block-details-border: var(--vp-custom-block-info-border);
    --vp-custom-block-details-text: var(--vp-custom-block-info-text);
    --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
    --vp-custom-block-details-code-bg: var(--vp-custom-block-details-bg);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-text-dark-1);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-text-dark-1);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
    --vp-button-alt-border: var(--vp-c-gray-light-3);
    --vp-button-alt-text: var(--vp-c-text-light-1);
    --vp-button-alt-bg: var(--vp-c-gray-light-5);
    --vp-button-alt-hover-border: var(--vp-c-gray-light-3);
    --vp-button-alt-hover-text: var(--vp-c-text-light-1);
    --vp-button-alt-hover-bg: var(--vp-c-gray-light-4);
    --vp-button-alt-active-border: var(--vp-c-gray-light-3);
    --vp-button-alt-active-text: var(--vp-c-text-light-1);
    --vp-button-alt-active-bg: var(--vp-c-gray-light-3);
    --vp-button-sponsor-border: var(--vp-c-gray-light-3);
    --vp-button-sponsor-text: var(--vp-c-text-light-2);
    --vp-button-sponsor-bg: transparent;
    --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
    --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
    --vp-button-sponsor-hover-bg: transparent;
    --vp-button-sponsor-active-border: var(--vp-c-sponsor);
    --vp-button-sponsor-active-text: var(--vp-c-sponsor);
    --vp-button-sponsor-active-bg: transparent;
    --vp-code-line-height: 1.7;
    --vp-code-font-size: .875em;
    --vp-code-block-color: var(--vp-c-text-dark-1);
    --vp-code-block-bg: #292d3e;
    --vp-code-line-highlight-color: rgba(0, 0, 0, .5);
    --vp-code-line-number-color: var(--vp-c-text-dark-3);
    --vp-code-copy-code-hover-bg: rgba(255, 255, 255, .05);
    --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
}

.dark {
    --link-color: var(--primary);
    --link-hover-color: #73bca7;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #a277ff;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);

    --vp-custom-block-info-border: var(--vp-c-divider-light);
    --vp-custom-block-info-bg: var(--vp-c-black-mute);
    --vp-custom-block-info-code-bg: var(--vp-c-gray-dark-4);
    --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
    --vp-custom-block-tip-text: var(--vp-c-green-light);
    --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
    --vp-custom-block-warning-text: var(--vp-c-yellow-light);
    --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
    --vp-custom-block-danger-text: var(--vp-c-red-light);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-text-dark-1);
    --vp-button-brand-bg: var(--vp-c-brand-dark);
    --vp-button-brand-hover-border: var(--vp-c-brand-lighter);
    --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand);
    --vp-button-brand-active-border: var(--vp-c-brand-lighter);
    --vp-button-brand-active-text: var(--vp-c-text-dark-1);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
    --vp-button-alt-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-text: var(--vp-c-text-dark-1);
    --vp-button-alt-bg: var(--vp-c-bg-mute);
    --vp-button-alt-hover-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-hover-text: var(--vp-c-text-dark-1);
    --vp-button-alt-hover-bg: var(--vp-c-gray-dark-2);
    --vp-button-alt-active-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-active-text: var(--vp-c-text-dark-1);
    --vp-button-alt-active-bg: var(--vp-button-alt-bg);
    --vp-button-sponsor-border: var(--vp-c-gray-dark-1);
    --vp-button-sponsor-text: var(--vp-c-text-dark-2);
    --vp-code-block-bg: var(--vp-c-bg-alt);
    --vp-c-bg: var(--vp-c-black-soft);
    --vp-c-bg-soft: var(--vp-c-black-mute);
    --vp-c-bg-mute: var(--vp-c-gray-dark-3);
    --vp-c-bg-alt: var(--vp-c-black);
    --vp-c-divider: var(--vp-c-divider-dark-1);
    --vp-c-divider-light: var(--vp-c-divider-dark-2);
    --vp-c-divider-inverse: var(--vp-c-divider-light-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);
    --vp-c-text-1: var(--vp-c-text-dark-1);
    --vp-c-text-2: var(--vp-c-text-dark-2);
    --vp-c-text-3: var(--vp-c-text-dark-3);
    --vp-c-text-4: var(--vp-c-text-dark-4);
    --vp-c-text-inverse-1: var(--vp-c-text-light-1);
    --vp-c-text-inverse-2: var(--vp-c-text-light-2);
    --vp-c-text-inverse-3: var(--vp-c-text-light-3);
    --vp-c-text-inverse-4: var(--vp-c-text-light-4);
    --vp-c-text-code: var(--vp-c-indigo-lighter);

    --bule-shadow-1: 0px 1px 0px var(--a2);
    --white-shadow-1: 0px 0px 3px var(--a2);
}

.logo {
    font-family: 'f1Font', monospace !important;
}

.post-title {
    font-family: 'fzdwxFont', monospace !important;
}

.post-content {
    font-size: 19px;
    font-family: 'jinkaiFont', monospace !important;
    /*font-family: 'LXGW WenKai', monospace !important;*/
}

.entry-header {
    font-family: 'jinkaiFont', monospace !important;
}

.entry-content {
    font-size: 17px;
    font-family: 'jinkaiFont', monospace !important;
}

#menu {
    font-family: 'ffFont', monospace !important;
}

code {
    font-size: 15px !important;
    font-family: 'Jetbrains Mono', monospace !important;
}

figcaption {
    color: #73bca7 !important;
    text-decoration: underline #a277ff;
}

strong {
    color: #73BC83 !important;
}

.responsive-video {
    position: relative;
    /* 16:9 ratio*/
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.flomo {
    position: relative;
    /* 16:9 ratio*/
    padding-bottom: 100%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.flomo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* markdown code style  */

/* block */
.post-content .custom-block {
    margin: 16px 0;
}

.custom-block {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 16px 16px 8px;
    line-height: 24px;
    font-size: 14px;
    color: var(--vp-c-text-2);
}

/* details */
.custom-block.details {
    border-color: var(--vp-custom-block-details-border);
    color: var(--vp-custom-block-details-text);
    background-color: var(--vp-custom-block-details-bg);
}

.custom-block.details summary {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'fzdwxFont', monospace !important;
}

.custom-block.tip {
    border-color: var(--vp-custom-block-tip-border);
    color: var(--vp-custom-block-tip-text);
    background-color: var(--vp-custom-block-tip-bg);
}

/* tip */
.post-content .custom-block p:first-child {
    margin: 0;
    font-size: 21px;
}

.post-content .custom-block p {
    margin: 8px 0;
    line-height: 24px;
    font-size: 18px;
}

.custom-block-title {
    font-weight: 700;
}

/* block */

/* nav */

.header {
    position: fixed;
    justify-content: center;
    z-index: 2;
    width: 100%;
    transition: border-color .5s, background-color .5s;
    background: rgba(255, 255, 255, .7);
    /*background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, .7), #61ffca);*/
    /*background: -webkit-linear-gradient(120deg, #a277ff, #61ffca);*/
    -webkit-backdrop-filter: saturate(50%) blur(50px);
    backdrop-filter: saturate(50%) blur(8px);
}

.medium-zoom-image--opened {
    z-index: 3;
}

.padding-header {
    height: var(--header-height);
}

.dark .header {
    background: rgba(36, 36, 36, .7);
}

.startItems-wrap {
    /*padding: 0 48px;*/
    position: relative;
    margin: 0 auto;
}

.startItems {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.grid-3 {
    width: calc(100% / 3);
}


.startItems-article {
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    padding: 24px;
    height: 100%;
    background-color: var(--vp-c-bg-soft);
    display: flex;
}

.startItems-article-icon {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.startItems-article-name {
    margin-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.fzdwx {
    font-family: 'fzdwxFont', monospace !important;
}

.jinkai {
    font-family: 'jinkaiFont', monospace !important;
}

.google-search-a {
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.google-search-b {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 584px;
}

.google-search-c {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.google-search-d {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.google-search-e {
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-top: 3px;
    color: #9aa0a6;
    display: inline-block;
    position: relative;
    fill: currentColor;
}


.google-search-1 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.google-search-2 {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.google-search-3 {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.google-search-1 input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

.google-search-img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.lnXdpd {
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.google-search-from {
    padding: 20px;
    margin: 20px;
}


.chroma {
    color: #edecee;
    background: #15141b;
}

.chroma .err {
    color: #f85149;
    background-color: #e3d2d2
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kr {
    color: #a277ff;
    font-weight: bold
}

.chroma .kc,
.chroma .kp {
    color: #79c0ff;
}

.chroma .kt {
    color: #a277ff;
    font-weight: bold
}

.chroma .n {
    color: #c9d1d9;
}

.chroma .nc {
    color: #f0883e;
    font-weight: bold
}

.chroma .no {
    color: #79c0ff
}

.chroma .nd {
    color: #ffca85;
    font-weight: bold
}

.chroma .ni {
    color: #800080
}

.chroma .ne {
    color: #f0883e;
    font-weight: bold
}

.chroma .nf {
    color: #ffca85;
    /*font-weight: bold;*/
    /*font-style: italic;*/
}

.chroma .fm {
    color: #ffca85;
}

.chroma .nl {
    color: #79c0ff;
    font-weight: bold
}

.chroma .nn {
    color: #CC7832
}

.chroma .nx {
}

.chroma .py {
}

.chroma .nt {
    color: #7ee787
}

.chroma .nv {
    color: #8A653B
}

.chroma .o,
.chroma .ow {
    color: #a277ff;
    font-weight: bold
}

.chroma .l,
.chroma .ld {
    color: #a5d6ff;
}

.chroma .c {
    color: #629755;
    font-style: italic
}

.chroma .ch {
    color: #629755;
    font-style: italic
}

.chroma .cm {
    color: #629755;
    font-style: italic
}

.chroma .c1 {
    color: #808080;
    font-style: italic
}

.chroma .cs {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.chroma .cp {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.chroma .cpf {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.chroma .s {
    color: #5cffa8
}

.chroma .sa {
    color: #6A8759
}

.chroma .sb {
    color: #6A8759
}

.chroma .sc {
    color: #6A8759
}

.chroma .dl {
    color: #6A8759
}

.chroma .sd {
    color: #6A8759
}

.chroma .s2 {
    color: #6A8759
}

.chroma .se {
    color: #6A8759
}

.chroma .sh {
    color: #6A8759
}

.chroma .si {
    color: #6A8759
}

.chroma .sx {
    color: #6A8759
}

.chroma .p {
    color: #afd49d
}

.chroma .hl {
    background-color: #3c3f41;
}

.chroma .mi {
    color: #61ffca;
}

/*dark*/

.dark .chroma {
    color: #edecee;
    background: #15141b;
}

.dark .chroma .err {
    color: #f85149;
    background-color: #e3d2d2
}

.dark .chroma .k,
.dark .chroma .kd,
.dark .chroma .kn,
.dark .chroma .kr {
    color: #a277ff;
    font-weight: bold
}

.dark .chroma .kc,
.dark .chroma .kp {
    color: #79c0ff;
}

.dark .chroma .kt {
    color: #a277ff;
    font-weight: bold
}

.dark .chroma .n {
    color: #c9d1d9;
}

.dark .chroma .nc {
    color: #f0883e;
    font-weight: bold
}

.dark .chroma .no {
    color: #79c0ff
}

.dark .chroma .nd {
    color: #ffca85;
    font-weight: bold
}

.dark .chroma .ni {
    color: #800080
}

.dark .chroma .ne {
    color: #f0883e;
    font-weight: bold
}

.dark .chroma .nf {
    color: #ffca85;
    /*font-weight: bold;*/
    /*font-style: italic;*/
}

.dark .chroma .fm {
    color: #ffca85;
}

.dark .chroma .nl {
    color: #79c0ff;
    font-weight: bold
}

.dark .chroma .nn {
    color: #CC7832
}

.dark .chroma .nx {
}

.dark .chroma .py {
}

.dark .chroma .nt {
    color: #7ee787
}

.dark .chroma .nv {
    color: #8A653B
}

.dark .chroma .o,
.dark .chroma .ow {
    color: #a277ff;
    font-weight: bold
}

.dark .chroma .l,
.dark .chroma .ld {
    color: #a5d6ff;
}

.dark .chroma .c {
    color: #629755;
    font-style: italic
}

.dark .chroma .ch {
    color: #629755;
    font-style: italic
}

.dark .chroma .cm {
    color: #629755;
    font-style: italic
}

.dark .chroma .c1 {
    color: #808080;
    font-style: italic
}

.dark .chroma .cs {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.dark .chroma .cp {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.dark .chroma .cpf {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.dark .chroma .s {
    color: #5cffa8
}

.dark .chroma .sa {
    color: #6A8759
}

.dark .chroma .sb {
    color: #6A8759
}

.dark .chroma .sc {
    color: #6A8759
}

.dark .chroma .dl {
    color: #6A8759
}

.dark .chroma .sd {
    color: #6A8759
}

.dark .chroma .s2 {
    color: #6A8759
}

.dark .chroma .se {
    color: #6A8759
}

.dark .chroma .sh {
    color: #6A8759
}

.dark .chroma .si {
    color: #6A8759
}

.dark .chroma .sx {
    color: #6A8759
}

.dark .chroma .p {
    color: #afd49d
}

.dark .chroma .hl {
    background-color: #3c3f41;
}

.dark .chroma .mi {
    color: #61ffca;
}

.paginav a:hover {
    color: var(--link-hover-color);
    /*text-decoration: underline var(--link-hover-underline-color);*/
}

.post-content hr {
    background: var(--link-hover-underline-color)
}

/*.dark pre{*/
/*    box-shadow: var(--bule-shadow-1);*/
/*}*/

/*.dark .post-entry{*/
/*    box-shadow: var(--white-shadow-1);*/
/*}*/


.dark .medium-zoom-overlay{
    background: var(--theme) !important;
}

.dark .post-content blockquote{
    border-inline-start: 3px solid var(--a2);
}

.dark .post-content code{
    color: #e770a6;
}