@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: mottoFont;
    src: url("/font/SCRIPTIN.ttf") format("TrueType");
}

@font-face {
    font-family: angelinaFont;
    src: url("/font/angelina.ttf") format("TrueType");
}

@font-face {
    font-family: jinkaiFont;
    src: url("/font/jinkai.ttf") format("TrueType");
}

@font-face {
    font-family: f1Font;
    src: url("/font/f1.ttf") format("TrueType");
}

@font-face {
    font-family: fzdwxFont;
    src: url("/font/fzdwx.ttf") format("TrueType");
}

:root {
    --link-color: var(--primary);
    --link-hover-color: #73bca7;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #73BC83;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.dark {
    --link-color: var(--primary);
    --link-hover-color: #73bca7;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #73BC83;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.logo {
    font-family: 'f1Font', monospace !important;
}

.post-title {
    font-family: 'fzdwxFont', monospace !important;
}

.post-content {
    font-size: 19px;
    font-family: 'jinkaiFont', monospace !important;
}

.entry-header {
    font-family: 'jinkaiFont', monospace !important;
}

.entry-content {
    font-size: 17px;
    font-family: 'jinkaiFont', monospace !important;
}

#menu {
    font-family: 'ffFont', monospace !important;
}

code {
    font-size: 15px !important;
    font-family: 'Jetbrains Mono', monospace !important;
}

figcaption {
    color: #73bca7 !important;
}

strong {
    color: #73BC83 !important;
}

.responsive-video {
    position: relative;
    /* 16:9 ratio*/
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.responsive-video  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

    /*.no-js-hidden {*/
    /*    display: none;*/
    /*}*/

    /*.no-js-message {*/
    /*    display: block;*/
    /*    padding: 2em;*/
    /*    color: #73bca7;*/
    /*    font-size: 0.9em;*/
    /*    font-style: italic;*/
    /*    text-align: center;*/

    /*}*/