.chroma {
    color: #edecee;
    background: #15141b;
}

.chroma .err {
    color: #f85149;
    background-color: #e3d2d2
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kr {
    color: #a277ff;
    font-weight: bold
}

.chroma .kc,
.chroma .kp {
    color: #79c0ff;
}

.chroma .kt {
    color: #a277ff;
    font-weight: bold
}

.chroma .n {
    color: #c9d1d9;
}

.chroma .nc {
    color: #f0883e;
    font-weight: bold
}

.chroma .no {
    color: #79c0ff
}

.chroma .nd {
    color: #ffca85;
    font-weight: bold
}

.chroma .ni {
    color: #800080
}

.chroma .ne {
    color: #f0883e;
    font-weight: bold
}

.chroma .nf {
    color: #ffca85;
    /*font-weight: bold;*/
    /*font-style: italic;*/
}

.chroma .fm {
    color: #ffca85;
}

.chroma .nl {
    color: #79c0ff;
    font-weight: bold
}

.chroma .nn {
    color: #CC7832
}

.chroma .nx {
}

.chroma .py {
}

.chroma .nt {
    color: var(--red)
}

.chroma .nv {
    color: #8A653B
}

.chroma .o,
.chroma .ow {
    color: #a277ff;
    font-weight: bold
}

.chroma .l,
.chroma .ld {
    color: #a5d6ff;
}

.chroma .c {
    color: #629755;
    font-style: italic
}

.chroma .ch {
    color: #629755;
    font-style: italic
}

.chroma .cm {
    color: #629755;
    font-style: italic
}

.chroma .c1 {
    color: #808080;
    font-style: italic
}

.chroma .cs {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.chroma .cp {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.chroma .cpf {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.chroma .s {
    color: #5cffa8
}

.chroma .sa {
    color: #73BC83
}

.chroma .sb {
    color: #73BC83
}

.chroma .sc {
    color: #73BC83
}

.chroma .dl {
    color: #73BC83
}

.chroma .sd {
    color: #73BC83
}

.chroma .s2 {
    color: #73BC83
}

.chroma .se {
    color: #73BC83
}

.chroma .sh {
    color: #73BC83
}

.chroma .s1 {
    color: var(--a2)
}

.dark .chroma .s1{
    color: var(--a2)
}

.chroma .sx {
    color: #73BC83
}

.chroma .p {
    color: #afd49d
}

.chroma .hl {
    background-color: #3c3f41;
}

.chroma .mi {
    color: #61ffca;
}

/*dark*/

.dark .chroma {
    color: #edecee;
    background: #15141b;
}

.dark .chroma .err {
    color: #f85149;
    background-color: #e3d2d2
}

.dark .chroma .k,
.dark .chroma .kd,
.dark .chroma .kn,
.dark .chroma .kr {
    color: #a277ff;
    font-weight: bold
}

.dark .chroma .kc,
.dark .chroma .kp {
    color: #79c0ff;
}

.dark .chroma .kt {
    color: #a277ff;
    font-weight: bold
}

.dark .chroma .n {
    color: #c9d1d9;
}

.dark .chroma .nc {
    color: #f0883e;
    font-weight: bold
}

.dark .chroma .no {
    color: #79c0ff
}

.dark .chroma .nd {
    color: #ffca85;
    font-weight: bold
}

.dark .chroma .ni {
    color: #800080
}

.dark .chroma .ne {
    color: #f0883e;
    font-weight: bold
}

.dark .chroma .nf {
    color: #ffca85;
    /*font-weight: bold;*/
    /*font-style: italic;*/
}

.dark .chroma .fm {
    color: #ffca85;
}

.dark .chroma .nl {
    color: #79c0ff;
    font-weight: bold
}

.dark .chroma .nn {
    color: #CC7832
}

.dark .chroma .nx {
}

.dark .chroma .py {
}

.dark .chroma .nt {
    color: var(--red)
}

.dark .chroma .nv {
    color: #8A653B
}

.dark .chroma .o,
.dark .chroma .ow {
    color: #a277ff;
    font-weight: bold
}

.dark .chroma .l,
.dark .chroma .ld {
    color: #a5d6ff;
}

.dark .chroma .c {
    color: #629755;
    font-style: italic
}

.dark .chroma .ch {
    color: #629755;
    font-style: italic
}

.dark .chroma .cm {
    color: #629755;
    font-style: italic
}

.dark .chroma .c1 {
    color: #808080;
    font-style: italic
}

.dark .chroma .cs {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.dark .chroma .cp {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.dark .chroma .cpf {
    color: #629755;
    font-weight: bold;
    font-style: italic
}

.dark .chroma .s {
    color: #5cffa8
}

.dark .chroma .sa {
    color: #73BC83
}

.dark .chroma .sb {
    color: #73BC83
}

.dark .chroma .sc {
    color: #73BC83
}

.dark .chroma .dl {
    color: #73BC83
}

.dark .chroma .sd {
    color: #73BC83
}

.dark .chroma .s2 {
    color: #73BC83
}

.dark .chroma .se {
    color: #73BC83
}

.dark .chroma .sh {
    color: #73BC83
}

.dark .chroma .si {
    color: #73BC83
}

.dark .chroma .sx {
    color: #73BC83
}

.dark .chroma .p {
    color: var(--a2)
}

.dark .chroma .hl {
    background-color: #3c3f41;
}

.dark .chroma .mi {
    color: #61ffca;
}