{{- define "main" }}

<header>
    <h1 style="font-family: f1Font;font-size: 50px">小记</h1>
    <div class="post-content">
        <blockquote>
            通过Github action将<a target="_blank" href="https://github.com/fzdwx/fzdwx.github.io/issues">issues</a>自动同步到这里。
        </blockquote>
    </div>

</header>

<ul class="terms-tags">
    {{range $name, $taxonomy := .Site.Taxonomies.categories}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
    <li class="nomargin">
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $cnt }}</sup></strong></sup> </a>
    </li>
    {{end}}
    {{end}}
</ul>

{{- partial "notes_body.html" . }}

{{- end }}