{{- define "main" }}


<form class="google-search-from" action="https://google.com.hk/search" method="get" role="search">
    <div class="google-search-img-div">
        <img class="lnXdpd" alt="Google" height="92" src="https://www.google.com.hk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"  width="272" data-atf="1" data-frt="0">
    </div>
    <div class="google-search-a">
        <div class="google-search-b">

            <div class="google-search-c">
                <div class="google-search-d">
                   <span class="google-search-e">
                        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                   </span>
                </div>

                <div class="google-search-1">
                    <div class="google-search-2"></div>
                    <input class="google-search-3" jsaction="paste:puy29d;" maxlength="2048" name="q" type="text"
                           aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off"
                           autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="Google 搜索"
                           value=""
                           aria-label="搜索" data-ved="0ahUKEwjczYy6us36AhU7plYBHZVYDM4Q39UDCAQ">
                </div>
            </div>

        </div>
    </div>
</form>

<div class="startItems-wrap">
    <div class="startItems">
        {{- range site.Params.Startpages }}
        <div class="grid-3 startItems">
            <a href="{{ .url }}" target="_blank" class="startItems-article">

                {{ if .icon }}
                <i icon-name="{{ .icon }}" class="startItems-article-icon"></i>
                {{ else }}
                {{ if .favicon }}
                <img class="startItems-article-icon" src="{{ .favicon }}" alt="{{ .name }}">
                {{ end }}
                {{ end }}

                <h3 class="startItems-article-name jinkai">{{ .name }}</h3>
            </a>
        </div>
        {{- end }}
    </div>
</div>
{{- end }}{{/* end main */}}
