{{ $type := .Get "type" }}

{{ if eq $type "details" }}
<details class="details custom-block">
    <summary>
        <span> {{ $title := .Get "title"}}
        {{ if $title }}
            {{ $title }}
        {{else}}
            Details
        {{end}}
        </span>
    </summary>
    <p>
        {{ .Inner | markdownify }}
    </p>
</details>
{{end}}

{{ if eq $type "tip" }}
<div class="tip custom-block">
    <p class="custom-block-title">
        {{ $title := .Get "title"}}
        {{ if $title }}
        {{ $title }}
        {{else}}
        TIP
        {{end}}
    </p>
    <p> {{ .Inner | markdownify }} </p>
</div>
{{end}}

{{ if eq $type "info" }}
<div class="info custom-block">
    <p class="custom-block-title">
        {{ $title := .Get "title"}}
        {{ if $title }}
        {{ $title }}
        {{else}}
        INFO
        {{end}}
    </p>
    <p> {{ .Inner | markdownify }} </p>
</div>
{{end}}

{{ if eq $type "warning" }}
<div class="warning custom-block">
    <p class="custom-block-title">
        {{ $title := .Get "title"}}
        {{ if $title }}
        {{ $title }}
        {{else}}
        WARNING
        {{end}}
    </p>
    <p> {{ .Inner | markdownify }} </p>
</div>
{{end}}

{{ if eq $type "danger" }}
<div class="danger custom-block">
    <p class="custom-block-title">
        {{ $title := .Get "title"}}
        {{ if $title }}
        {{ $title }}
        {{else}}
        DANGER
        {{end}}
    </p>
    <p> {{ .Inner | markdownify }} </p>
</div>
{{end}}
