@media screen and (max-width: 500px) {
    :root {
        --header-height: 52px;
    }

}

.list-page {
    background: var(--code-bg);
}

.dark.list-page {
    background: var(--theme);
}


:root {
    --a1: #a277ff;
    --a2: #a394f0;
    --b1: #15141b;
    --b2: #edecee;
    --blank: #110f18;
    --blue: #61ffca;
    --red: #ff6767;
    --yellow: #ffca85;
    --bBlack: #4d4d4d;
    --c0: #73BC83;
    --c1: #57BF7D;
    --c2: #73bca7;
    --c4: rgb(187 247 208 / 1);
    --selection: #3d375e7f;
    --gap: 20px;
    --main-width: 850px;
    --post-width: 850px;
    --nav-width: 1000px;
    --ifm-global-radius: 0.4rem;
    --ifm-code-padding-horizontal: 0.1rem;
    --ifm-code-padding-vertical: 0.1rem;
    --ifm-code-background: #f6f7f8;
    --code-bg: var(--vp-c-white-mute);
    --link-hover-color: var(--c1);
    --ifm-font-family-monospace: ui-monospace, "SFMono-Regular", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --link-hover-underline-color: var(--a1);
    --vp-nav-height-desktop: 72px;
    --docsearch-primary-color: #5468ff;
    --docsearch-text-color: #1c1e21;
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: #969faf;
    --docsearch-container-background: rgba(101, 108, 133, .8);
    --docsearch-logo-color: #5468ff;
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: #f5f6f7;
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, .5), 0 3px 8px 0 #555a64;
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: #ebedf0;
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: #444950;
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
    --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, .12);
    --vp-z-index-local-nav: 10;
    --vp-z-index-nav: 20;
    --vp-z-index-backdrop: 30;
    --vp-z-index-sidebar: 40;
    --vp-z-index-footer: 50;
    --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
    --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
    --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
    --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
    --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
    --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
    --vp-c-text-inverse-4: var(--vp-c-text-dark-4);
    --vp-c-text-code: var(--vp-c-indigo-soft);
    --vp-c-brand: var(--vp-c-green);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);
    --vp-c-brand-dark: var(--vp-c-green-dark);
    --vp-c-brand-darker: var(--vp-c-green-darker);
    --vp-c-sponsor: #fd1d7c;
    --vp-c-white: #ffffff;
    --vp-c-white-soft: #f9f9f9;
    --vp-c-white-mute: #f1f1f1;
    --vp-c-black: #1a1a1a;
    --vp-c-black-pure: #000000;
    --vp-c-black-soft: #242424;
    --vp-c-black-mute: #2f2f2f;
    --vp-c-gray: #8e8e8e;
    --vp-c-gray-light-1: #aeaeae;
    --vp-c-gray-light-2: #c7c7c7;
    --vp-c-gray-light-3: #d1d1d1;
    --vp-c-gray-light-4: #e5e5e5;
    --vp-c-gray-light-5: #f2f2f2;
    --vp-c-gray-dark-1: #636363;
    --vp-c-gray-dark-2: #484848;
    --vp-c-gray-dark-3: #3a3a3a;
    --vp-c-gray-dark-4: #282828;
    --vp-c-gray-dark-5: #202020;
    --vp-c-divider-light-1: rgba(60, 60, 60, .29);
    --vp-c-divider-light-2: rgba(60, 60, 60, .12);
    --vp-c-divider-dark-1: rgba(84, 84, 84, .65);
    --vp-c-divider-dark-2: rgba(84, 84, 84, .48);
    --vp-c-text-light-1: var(--vp-c-indigo);
    --vp-c-text-light-2: rgba(60, 60, 60, .7);
    --vp-c-text-light-3: rgba(60, 60, 60, .33);
    --vp-c-text-light-4: rgba(60, 60, 60, .18);
    --vp-c-text-dark-1: rgba(255, 255, 255, .87);
    --vp-c-text-dark-2: rgba(235, 235, 235, .6);
    --vp-c-text-dark-3: rgba(235, 235, 235, .38);
    --vp-c-text-dark-4: rgba(235, 235, 235, .18);
    --vp-c-indigo: #213547;
    --vp-c-indigo-soft: #476582;
    --vp-c-indigo-light: #aac8e4;
    --vp-c-indigo-lighter: #c9def1;
    --vp-c-indigo-dark: #1d2f3f;
    --vp-c-indigo-darker: #14212e;
    --vp-c-green: #42b883;
    --vp-c-green-light: #42d392;
    --vp-c-green-lighter: #35eb9a;
    --vp-c-green-dark: #33a06f;
    --vp-c-green-darker: #155f3e;
    --vp-c-green-dimm-1: rgba(66, 184, 131, .5);
    --vp-c-green-dimm-2: rgba(66, 184, 131, .25);
    --vp-c-green-dimm-3: rgba(66, 184, 131, .05);
    --vp-c-yellow: #ffc517;
    --vp-c-yellow-light: #fcd253;
    --vp-c-yellow-lighter: #fcfc7c;
    --vp-c-yellow-dark: #e0ad15;
    --vp-c-yellow-darker: #ad850e;
    --vp-c-yellow-dimm-1: rgba(255, 197, 23, .5);
    --vp-c-yellow-dimm-2: rgba(255, 197, 23, .25);
    --vp-c-yellow-dimm-3: rgba(255, 197, 23, .05);
    --vp-c-red: #ed3c50;
    --vp-c-red-light: #f54e82;
    --vp-c-red-lighter: #fd1d7c;
    --vp-c-red-dark: #cd2d3f;
    --vp-c-red-darker: #ab2131;
    --vp-c-red-dimm-1: rgba(237, 60, 80, .5);
    --vp-c-red-dimm-2: rgba(237, 60, 80, .25);
    --vp-c-red-dimm-3: rgba(237, 60, 80, .05);

    --content-gap: 20px;
    --header-height: 60px;
    --footer-height: 80px;
    --radius: 8px;
    --monospace: "Lucida Console", Monaco, "Consolas", monospace;

    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --primary-dim: rgb(60, 60, 60);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(158, 158, 158);
    --tertiary-bg: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --border: rgb(238, 238, 238);
    --link-background-color: #e8e3f7;
    --link-color: var(--primary);
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --link-transition: all 0.3s ease;
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");

    /* for type pages theming */
    --signature: var(--c2);
    --signature-bg: var(--secondary);

    --vp-font-family-base: "Inter var experimental", "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.light {
    --vp-c-bg: var(--vp-c-white);
    --vp-c-bg-soft: var(--vp-c-white-soft);
    --vp-c-bg-mute: var(--vp-c-white-mute);
    --vp-c-bg-alt: var(--vp-c-white-soft);
    --vp-c-divider: var(--vp-c-divider-light-1);
    --vp-c-divider-light: var(--vp-c-divider-light-2);
    --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);
    --vp-c-text-1: var(--vp-c-text-light-1);
    --vp-c-text-2: var(--vp-c-text-light-2);
    --vp-c-text-3: var(--vp-c-text-light-3);
    --vp-c-text-4: var(--vp-c-text-light-4);
    --vp-custom-block-code-font-size: 13px;
    --vp-custom-block-info-border: var(--vp-c-divider-light);
    --vp-custom-block-info-text: var(--vp-c-text-2);
    --vp-custom-block-info-bg: var(--vp-c-white-soft);
    --vp-custom-block-info-code-bg: var(--vp-c-gray-light-4);
    --vp-custom-block-tip-border: var(--vp-c-green-dimm-1);
    --vp-custom-block-tip-text: var(--vp-c-green-darker);
    --vp-custom-block-tip-bg: var(--vp-c-green-dimm-3);
    --vp-custom-block-tip-code-bg: var(--vp-custom-block-tip-bg);
    --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-1);
    --vp-custom-block-warning-text: var(--vp-c-yellow-darker);
    --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-3);
    --vp-custom-block-warning-code-bg: var(--vp-custom-block-warning-bg);
    --vp-custom-block-danger-border: var(--vp-c-red-dimm-1);
    --vp-custom-block-danger-text: var(--vp-c-red-darker);
    --vp-custom-block-danger-bg: var(--vp-c-red-dimm-3);
    --vp-custom-block-danger-code-bg: var(--vp-custom-block-danger-bg);
    --vp-custom-block-details-border: var(--vp-custom-block-info-border);
    --vp-custom-block-details-text: var(--vp-custom-block-info-text);
    --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
    --vp-custom-block-details-code-bg: var(--vp-custom-block-details-bg);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-text-dark-1);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-text-dark-1);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
    --vp-button-alt-border: var(--vp-c-gray-light-3);
    --vp-button-alt-text: var(--vp-c-text-light-1);
    --vp-button-alt-bg: var(--vp-c-gray-light-5);
    --vp-button-alt-hover-border: var(--vp-c-gray-light-3);
    --vp-button-alt-hover-text: var(--vp-c-text-light-1);
    --vp-button-alt-hover-bg: var(--vp-c-gray-light-4);
    --vp-button-alt-active-border: var(--vp-c-gray-light-3);
    --vp-button-alt-active-text: var(--vp-c-text-light-1);
    --vp-button-alt-active-bg: var(--vp-c-gray-light-3);
    --vp-button-sponsor-border: var(--vp-c-gray-light-3);
    --vp-button-sponsor-text: var(--vp-c-text-light-2);
    --vp-button-sponsor-bg: transparent;
    --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
    --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
    --vp-button-sponsor-hover-bg: transparent;
    --vp-button-sponsor-active-border: var(--vp-c-sponsor);
    --vp-button-sponsor-active-text: var(--vp-c-sponsor);
    --vp-button-sponsor-active-bg: transparent;
    --vp-code-line-height: 1.7;
    --vp-code-font-size: .875em;
    --vp-code-block-color: var(--vp-c-text-dark-1);
    --vp-code-block-bg: #292d3e;
    --vp-code-line-highlight-color: rgba(0, 0, 0, .5);
    --vp-code-line-number-color: var(--vp-c-text-dark-3);
    --vp-code-copy-code-hover-bg: rgba(255, 255, 255, .05);
    --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --primary-dim: rgb(186, 186, 186);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(123, 124, 124);
    --tertiary-bg: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --link-background-color: #5242746d;
    --link-color: var(--primary);
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);

    --link-hover-color: var(--c0);
    --link-hover-underline-color: #a277ff;

    --vp-custom-block-info-border: var(--vp-c-divider-light);
    --vp-custom-block-info-bg: var(--vp-c-black-mute);
    --vp-custom-block-info-code-bg: var(--vp-c-gray-dark-4);
    --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
    --vp-custom-block-tip-text: var(--vp-c-green-light);
    --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
    --vp-custom-block-warning-text: var(--vp-c-yellow-light);
    --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
    --vp-custom-block-danger-text: var(--vp-c-red-light);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-text-dark-1);
    --vp-button-brand-bg: var(--vp-c-brand-dark);
    --vp-button-brand-hover-border: var(--vp-c-brand-lighter);
    --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
    --vp-button-brand-hover-bg: var(--vp-c-brand);
    --vp-button-brand-active-border: var(--vp-c-brand-lighter);
    --vp-button-brand-active-text: var(--vp-c-text-dark-1);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
    --vp-button-alt-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-text: var(--vp-c-text-dark-1);
    --vp-button-alt-bg: var(--vp-c-bg-mute);
    --vp-button-alt-hover-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-hover-text: var(--vp-c-text-dark-1);
    --vp-button-alt-hover-bg: var(--vp-c-gray-dark-2);
    --vp-button-alt-active-border: var(--vp-c-gray-dark-2);
    --vp-button-alt-active-text: var(--vp-c-text-dark-1);
    --vp-button-alt-active-bg: var(--vp-button-alt-bg);
    --vp-button-sponsor-border: var(--vp-c-gray-dark-1);
    --vp-button-sponsor-text: var(--vp-c-text-dark-2);
    --vp-code-block-bg: var(--vp-c-bg-alt);
    --vp-c-bg: var(--vp-c-black-soft);
    --vp-c-bg-soft: var(--vp-c-black-mute);
    --vp-c-bg-mute: var(--vp-c-gray-dark-3);
    --vp-c-bg-alt: var(--vp-c-black);
    --vp-c-divider: var(--vp-c-divider-dark-1);
    --vp-c-divider-light: var(--vp-c-divider-dark-2);
    --vp-c-divider-inverse: var(--vp-c-divider-light-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);
    --vp-c-text-1: var(--vp-c-text-dark-1);
    --vp-c-text-2: var(--vp-c-text-dark-2);
    --vp-c-text-3: var(--vp-c-text-dark-3);
    --vp-c-text-4: var(--vp-c-text-dark-4);
    --vp-c-text-inverse-1: var(--vp-c-text-light-1);
    --vp-c-text-inverse-2: var(--vp-c-text-light-2);
    --vp-c-text-inverse-3: var(--vp-c-text-light-3);
    --vp-c-text-inverse-4: var(--vp-c-text-light-4);
    --vp-c-text-code: var(--vp-c-indigo-lighter);

    --bule-shadow-1: 0px 1px 0px var(--a2);
    --white-shadow-1: 0px 0px 3px var(--a2);

    --signature: var(--a2);
}


::selection {
    background: var(--a2);
}

::-moz-selection {
    background: var(--a2);
}

::-webkit-selection {
    background: var(--a2);
}

.dark ::selection {
    background: var(--vp-c-text-dark-3);
}

.dark ::-moz-selection {
    background: var(--vp-c-text-dark-3);
}

.dark ::-webkit-selection {
    background: var(--vp-c-text-dark-3);
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

#menu,
.page-header h1,
.archive-year-header,
.archive-month,
.archive-count {
    font-family: var(--smf)
}

.center{
    display: flex;
    justify-content: center;
}

.logo-img{
    margin-top: 10px;
}
